@font-face {
    font-family: 'CodeBold';
    src: url(../../fonts/code/CodeProBoldLC.otf);
}

@font-face {
    font-family: 'CodeLight';
    src: url(../../fonts/code/CodeProLC.otf);
}

@font-face {
    font-family: 'GothamBlack';
    src: url(../../fonts/gotham/GhothamBlack.otf);
}

@font-face {
    font-family: 'Amsterdam';
    src: url(../../fonts/amsterdam/Amsterdam.otf);
}